<div class="row justify-content-center align-items-center mt-4">
  <br><br><br>
  <div class="column" style="width: 11%;">  </div>
  <div class="column" style="width: 23%;">
    <img src="assets/images/logo.png" class="rounded-circle img-fluid ml-5" alt="Responsive image"
         style="width: 80%; background-color: white;"/>
  </div>
  <div class="column " style="width: 54%; text-align: center; align: middle;">
    <h1 class="mb-4 mt-2 mr-5 pl-5">Trouver rapidement une <br>consultation chez un spécialiste <br> près de chez vous</h1>
  </div>
  <div class="column" style="width: 12%;">  </div>
</div>


<div class="row justify-content-center mt-5 mb-5">
  <div class="row " style="width: 100%; text-align: center; align: middle;">
    <div style="width: 10%;"></div>
    <form class="form-inline ml-5 pl-5" style="width: 40%" >
      <input class="form-control" type="text" placeholder="Rechercher un médécin par son nom ou sa spécialité" aria-label="Search" style="width: 90%" [(ngModel)]="praticienForm.nom">
    </form>
    <div class="input-group" style="width: 30%">
      <input class="form-control" type="text" placeholder="Sa localisation" aria-label="Search">
      <div class="input-group-append">
         <span class="input-group-text bg-info" id="basic-text1"><div class="btn-group" style="margin-left: 30px">
            <a class="fas fa-search" [routerLink]="['/praticien/'+ praticienForm.nom]"><i class="fas fa-info"></i></a>
          </div>

         </span>
      </div>
    </div>
  </div>
</div>


<div class="row justify-content-center mt-5">
  <div class="row bg-danger text-white" style="width: 100%; text-align: center; align: middle;">
    <h6 class="mb-3 mt-3 mr-5 pl-5" style="width: 100%; text-align: center; align: middle;">
      <i class="fas fa-exclamation-circle" aria-hidden="true" style="color: white"></i>
      ALERTE COVID-19
    </h6>
  </div>
  <div class="row bg-white" style="width: 100%; text-align: center; align: middle;">
    <h6 class="mb-3 mt-3 mr-5 pl-5" style="width: 100%; text-align: center; align: middle;">
      Le Président de la République a annoncé le rétablissement du confinement à partir du vendredi 30 octobre 2020 à minima jusqu’au 1er décembre.<br><br>
      Portez un masque        -        Respectez les gestes barrière        -      Arrivez à l'heure au rendez-vous pour ne pas attendre sur place
    </h6>
  </div>
</div>


<div class="row justify-content-center mt-5">
  <div class="row bg-info text-white" style="width: 100%; text-align: center; align: middle;">
    <h6 class="mb-3 mt-3 mr-5 pl-5" style="width: 100%; text-align: center; align: middle;">Vous êtes un professionnel de santé ? Retrouvez votre espace dédié ici
      <i class="fas fa-angle-double-right ml-2" aria-hidden="true" style="color: white"></i>
    </h6>
  </div>
</div>
