<div class="row justify-content-center align-items-center mt-4">
  <div class="column" style="width: 23%;">
    <img src="assets/images/logo.png" class="rounded-circle img-fluid " alt="Responsive image"
         style="width: 100%;"/>
  </div>
  <div class="column " style="width: 72%; text-align: center; align: middle;">
    <h1 class="mb-4 mt-2 ">Notre Prédicteur de Kompagnonnage</h1>
    <h2 class="hr ">Vers un jardin au naturel en Permaculture</h2>
  </div>
</div>


<div class="row justify-content-center mt-5">
  <div class="row " style="width: 100%; text-align: center; align: middle;">
    <div style="width: 10%;"></div>
    <form class="form-inline ml-5 pl-5" style="width: 40%">
      <input class="form-control" type="text" placeholder="Rechercher un médécin par son nom ou sa spécialité" aria-label="Search" style="width: 90%">
    </form>
    <div class="input-group" style="width: 30%">
      <input class="form-control" type="text" placeholder="Sa localisation" aria-label="Search">
      <div class="input-group-append">
         <span class="input-group-text bg-info" id="basic-text1">
           <i class="fas fa-search" aria-hidden="true" style="color: white"></i>
         </span>
      </div>
    </div>
  </div>
</div>
