<div class="container-fluid " >

  <div class="card shadow my-5 mx-auto pr-4 pl-4" style="border-radius: 10px">

    <div class="card-body">
      <div class="row ml-3 py-4">
      <p>Carte de Visite</p>
      </div>
      <div class="row ml-3 py-4">
        <p>Acces au lieu de consultation</p>
      </div>
      <div class="row ml-3 py-4">
        <p>Horaires</p>
      </div>
      <div class="row ml-3 py-4">
        <p>Tarif</p>
      </div>
      <div class="row ml-3 py-4">
        <p>Prise de Rdv</p>
      </div>


    </div>
  </div>


</div>
